body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #DDF7E3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

label {
    font-family: 'Josefin Sans', sans-serif;
}

/* Header styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #C7E8CA;
}

.header h2 {
    margin: 0;
}

.container {
    width: 80%;
    margin: 20px auto; /* Adjusted margin */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 46.7px rgba(0, 0, 0, 0.1);
    background-color: #C7E8CA;
    overflow: auto; /* Hide overflow content */
}

/* Ensure that the table container doesn't affect the layout */
.table-container {
    max-height: 400px; /* Set a maximum height for the table container */
    overflow-y: auto; /* Enable vertical scrolling */
}

/* Style the table */
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Ensure consistent column widths */
}

/* Set fixed column widths for table cells */
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    width: auto; /* Auto width */
}

/* Set specific width for each column */
th:nth-child(1),
td:nth-child(1) {
    width: 5%; /* Adjust as needed */
}

th {
    background-color: #f2f2f2;
    color: #5D9C59;
    
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.assign-button {
    background-color: #DDF7E3;
    color: #5D9C59;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 20px;
}

.assign-button:hover {
    background-color: #ddf7e3ac;
}

.delete-bth:hover{
    background-color: #f7ddddac;

}

.home-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 5px; /* Adjusted margin */
}

.home-button:hover {
    background-color: #45a049;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #DDF7E3;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: fadeIn 0.5s;
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Input fields */
input[type="text"], select, input[type="datetime-local"] {
    width: calc(100% - 42px);
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}



@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.fade-in {
    animation: fadeIn 0.5s;
}
.fade-out {
    animation: fadeOut 0.5s;
}
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
