body {
    overflow: hidden;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

.card-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card {
    width: 45%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
    margin: 5px 0;
}

.table-container {
    margin-top: 20px;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 400px; /* Adjust as needed */
}

.product-table {
    width: 100%;
    border-collapse: collapse;
}

.product-table th, .product-table td {
    padding: 8px;
    border: 1px solid #ddd;
}

.search-filter-container {
    margin-bottom: 20px;
}

.apply-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    cursor: pointer;
}

.apply-button:hover {
    background-color: #45a049;
}
